@media screen and (max-width: 342px) {
    .time-number {
        font-size: 15px;
        font-weight: bolder;
    }
    .date-text {
        font-size: 9px;
        font-weight: 300px;
    }
}

@media screen and (max-width: 479px) {
    .logo img {
        height: 250%;
        width: 250%;
    }
    .menu {
        display: none;
    }
    .transparent-btn>a {
        display: none;
    }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
    .logo img {
        height: 200%;
        width: 200%;
    }
    .menu {
        display: none;
    }
    .transparent-btn>a {
        display: none;
    }
    .hamburger-icon img {
        margin-top: 1%;
    }
    .intro-content {
        width: 65%;
        padding-top: 40px;
    }
    .intro-title {
        font-size: 26px;
    }
    .intro-subtitle {
        font-size: 14px;
    }
    .btn-part li,
    .attend-btn li {
        display: inline-block;
        list-style: none;
        padding: 10px 5px;
    }
    .total-engagement ul {
        width: 80%;
        margin: 0 auto;
        padding: 10% 0;
        list-style: none;
    }
    .total-engagement ul li {
        box-sizing: border-box;
        padding: 8px 1px;
    }
    .engagement-number {
        font-size: 22px;
        font-weight: bolder;
    }
    .engagement-name {
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .logo img {
        height: 150%;
        width: 150%;
    }
    .menu ul {
        list-style: none;
        margin: 3.2% 0 0 14%;
    }
    .menu ul li {
        display: inline;
        padding: 0 2px;
        box-sizing: border-box;
    }
    .menu ul li a {
        font-size: 15px;
        font-weight: normal;
    }
    .transparent-btn {
        margin-top: 13px;
    }
    .transparent-btn>a {
        padding: 10px 12px;
        font-weight: 600;
        font-size: 11px;
        border-radius: 25px;
    }
    .hamburger-icon img {
        display: none;
    }
    .countdown ul li {
        padding: 18px 10px;
    }
    .intro-content {
        width: 60%;
        padding-top: 40px;
    }
    .intro-title {
        font-size: 25px;
        font-weight: 800;
    }
    .intro-subtitle {
        font-size: 15px;
        margin-top: 10px;
    }
    .dash {
        margin-bottom: 0px;
    }
    .btn-part li,
    .attend-btn li {
        display: inline-block;
        list-style: none;
        padding: 10px 15px;
    }
    .btn-part a,
    .attend-btn a {
        padding: 10px 18px;
    }
    .total-engagement ul {
        width: 70%;
    }
    .total-engagement ul li {
        box-sizing: border-box;
        padding: 8px 5px;
    }
    .total-engagement ul li div {
        margin-bottom: 10px;
    }
    .engagement-number {
        font-size: 25px;
    }
    .engagement-name {
        font-size: 12px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
    .logo img {
        height: 150%;
        width: 150%;
    }
    .menu ul {
        list-style: none;
        margin: 3.2% 0 0 18%;
    }
    .menu ul li {
        display: inline;
        padding: 0 8px;
        box-sizing: border-box;
    }
    .menu ul li a {
        font-size: 16px;
        font-weight: normal;
    }
    .transparent-btn {
        margin-top: 13px;
    }
    .transparent-btn>a {
        padding: 10px 15px;
        font-weight: 600;
        font-size: 11px;
        border-radius: 25px;
    }
    .hamburger-icon img {
        display: none;
    }
    .countdown ul li,
    .total-engagement ul li {
        padding: 18px 10px;
    }
    .intro-content {
        width: 60%;
        padding-top: 40px;
    }
    .intro-title {
        font-size: 30px;
        font-weight: 900;
    }
    .intro-subtitle {
        font-size: 15px;
    }
    .dash {
        margin-bottom: 0px;
    }
    .btn-part li,
    .attend-btn li {
        display: inline-block;
        list-style: none;
        padding: 10px 15px;
    }
    .btn-part a,
    .attend-btn a {
        padding: 10px 18px;
    }
    .total-engagement ul {
        width: 60%;
        padding: 5% 0;
    }
    .total-engagement ul li {
        padding: 10px 5px;
    }
    .engagement-number {
        font-size: 25px;
    }
    .engagement-name {
        font-size: 15px;
        font-weight: 300px;
    }
    .total-engagement ul li p {
        padding-bottom: 5px;
        line-height: 15px;
    }
    .total-engagement ul li div {
        width: 10px;
        height: 2px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1199px) {
    .logo img {
        height: 100%;
        width: 100%;
    }
    .menu ul {
        list-style: none;
        margin: 2% 0 0 10%;
    }
    .menu ul li {
        display: inline;
        padding: 0 25px;
        box-sizing: border-box;
    }
    .menu ul li a {
        font-size: 16px;
        font-weight: normal;
    }
    .transparent-btn {
        margin-top: 10px;
    }
    .transparent-btn>a {
        padding: 10px 30px;
        font-weight: 600;
        font-size: 13px;
        border-radius: 25px;
    }
    .hamburger-icon img {
        display: none;
    }
    .countdown {
        margin: 40px auto auto auto;
        width: 80%;
    }
    .countdown ul li {
        padding: 20px 10px;
    }
    .intro-content {
        width: 60%;
        padding-top: 30px;
    }
    .intro-title {
        font-size: 40px;
        font-weight: 900;
    }
    .intro-subtitle {
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    .dash {
        margin-bottom: 0%;
    }
    .btn-part,
    .attend-btn {
        margin-top: 35px;
    }
    .btn-part li,
    .attend-btn li {
        display: inline-block;
        list-style: none;
        padding: 8px 15px;
    }
    .btn-part a,
    .attend-btn a,
    #yellow-bg {
        padding: 10px 30px;
        font-size: 13px;
    }
    .time-number {
        font-size: 30px;
    }
    .date-text {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 300px;
    }
    #desc {
        width: 50%;
    }
    .design-desc-title {
        font-size: 30px;
    }
    .design-description p {
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .total-engagement {
        min-height: 250px;
    }
    .total-engagement ul {
        width: 50%;
        padding: 5% 0;
    }
    .total-engagement ul li {
        padding: 10px 5px;
    }
    .engagement-number {
        font-size: 28px;
    }
    .engagement-name {
        font-size: 15px;
        font-weight: 300px;
    }
    .total-engagement ul li p {
        padding-bottom: 5px;
        line-height: 15px;
    }
    .total-engagement ul li div {
        width: 10px;
        height: 2px;
        margin-bottom: 15px;
    }
    /* speakers */
    .speakers {
        margin-top: -5%;
    }
    .overlay {
        height: auto;
        width: 100%;
        position: relative;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .speakers ul {
        text-align: center;
    }
    .speakers ul li {
        display: inline-block;
        padding: 10px;
    }
    .speakers ul li img {
        background-repeat: no-repeat;
        width: 266.29px;
        height: 343.28px;
        position: relative;
    }
    .overlay::before {
        content: "";
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: auto;
        position: absolute;
        left: 0;
    }
    .top-title {
        font-weight: bold;
        font-size: 25px;
        padding: 20px;
    }
    .speaker-name {
        position: absolute;
        font-size: 18px;
        text-align: left;
        z-index: 2;
        transform: translate(-115px, -55px);
    }
    .speaker-title {
        font-size: 11px;
        z-index: 2;
        font-weight: 200;
    }
}